@using Ricardo.LojaVirtual.Web.HtmlHelpers
@model Ricardo.LojaVirtual.Web.Models.ProdutosViewModel


@foreach (var p in Model.Produtos)
{
    @Html.Partial("ProdutoDetalhes",p)
    
}

<div class="btn-group pull-right">
    @Html.PageLInks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x }))
</div>



